*{
    margin:0px;
    padding:0px;
}
body{
    backGround-color:black;
    color:#aaa;
    height:100%;
    padding:10px;
    font-family:inconsolata-g,droid sans mono,monospace sans;
    font-size:16px;
}
h1{
    color:red;
}
.outputItem{
}
.outputBlock{
}
.errorBlock{
    background-color:#311;
}

.row0{
    background-color:#111;
}
#input span{
float:left;
}
#cmdLine {
background-color:black;
float:left;
color:white;
border:none;
outline:0;
}
.errorBlock .outputItem{
background-color:#511;
}
